html,
body {
  margin: 0;
  padding: 0;
}
body,
body * {
  box-sizing: border-box;
}
body {
  color: #666;
  background: #fafafa;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.4;
}
a {
  color: inherit;
  text-decoration: none;
}
.content {
  width: 90%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
#header {
  color: #fff;
  background: #333;
  border-bottom: 5px solid #9e36bb;
}
#header .line {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
#header h3 {
  white-space: nowrap;
  margin: 0;
  margin-right: 20px;
}
#header h3 svg {
  height: 1.5em;
  width: 1.5em;
  vertical-align: sub;
  margin-right: 8px;
}
#header use {
  fill: #9e36bb;
}
#search {
  width: 100%;
  max-width: 600px;
  font-size: 16px;
  border-radius: 30px;
  box-shadow: none;
  border: 0;
  padding: 8px 16px;
  background: #eee;
}
#search:focus {
  background: #fff;
}
#main {
  padding-top: 20px;
  display: flex;
}
ul#groups {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
  width: 10%;
  min-width: 100px;
  flex: 0 0 auto;
}
ul#groups li {
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 9px;
}
ul#groups li a {
  color: #fff;
  padding: 4px;
  border-radius: 2px;
  background: #999;
}
@media (hover) {
  ul#groups li a:hover {
    background: #333;
  }
}
ul#groups li a:active {
  background: #333;
}
ul#groups li a.selected {
  background: #9e36bb;
}
ul#icons {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: start;
}
#icons li {
  display: inline-block;
  position: relative;
  margin: 0;
  vertical-align: top;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: default;
  overflow: hidden;
}
#icons li.hidden {
  display: none;
}
#icons li a {
  background-color: #fff;
  border: 1px solid #ccc;
  display: block;
  padding: 5px;
}
@media (hover) {
  #icons li a:hover {
    border: 1px solid #666;
  }
}
#icons li a:active {
  border: 1px solid #666;
}
.icon-box {
  margin: 0;
  width: 160px;
  height: 70px;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.icon-lg {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0 10px;
}
.icon-sm {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 10px;
}
.icon-name {
  display: block;
  font-size: 12px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  color: #666;
}
footer {
  margin: 20px 0;
  text-align: center;
  font-size: 12px;
}
footer p {
  margin: 0;
}
footer a {
  color: #9e36bb;
}
footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 400px) {
  .content {
    width: 100%;
  }
  #header .line {
    flex-direction: column;
    align-items: center;
  }
  #header h3 {
    margin-bottom: 10px;
  }
  #main {
    flex-direction: column;
  }
  ul#groups {
    width: 100%;
    max-width: auto;
  }
}
